main.card{   
  border-radius: 10px;
  @extend %box-shadow;
  @extend %d-flex;
  @extend %align-center;
  @extend %justify-center;
  @extend %col;
  max-width: 310px;

  @include respond-to(small){
    flex-direction: row;
    width: 80vw;
    max-width: 720px;
    max-height: 250px;
  }
  
  > div{
    max-height: 200px;
    overflow: hidden;

    @include respond-to(small){
      width: 100%;
      max-height: 240px;
    }
  }

  > section{  
    @extend %d-flex;
    @extend %col;
    align-content: flex-start;
    flex-wrap: wrap;
    max-width: 310px;

    @include respond-to(small){
      max-width: unset;
    }
    

  }
  
  > div > img {
    display: block;
    border-radius: 10px 10px 0 0;
    width: 100%;
    object-fit: cover;

    @include respond-to(small){
      border-radius: 10px 0 0 10px;
    }
  
    @include respond-to(small){
      width: clamp(300px, 200%, 375px);
    }
  
    @include respond-to(medium){
      width: clamp(300px, 140%, 480px);
    }
  }
}

.info{
  @extend %d-flex;
  @extend %col;
  gap: 20px;
  margin: 1.625rem;
  height: fit-content;
}

.author{
  @extend %d-flex;
  @extend %align-center;
  justify-content: space-between;
  margin: 0 1.625rem 13px;
  height: auto;

  @include respond-to(xsmall){
    @include author-mob();
  }

  @include respond-to(medium){
    max-width: 100%;
  }
}

.author-active {
  @include respond-to(small){
    @include author-active-desktop();
  }
}

.profile{
  @extend %d-flex;
  gap: 10px;
  flex: 2;
  text-align: left;

  @include respond-to(small){
    flex: 1;

  }

  img{ 
    @extend %border-circle;
    width: 46px; 
  }
  div{ margin: auto 0; }
}

div :has(svg.share-btn){
  @extend %d-flex;
  @extend %col;
  @extend %justify-center;
  @extend %align-center;
  @extend %border-circle;
  cursor: pointer;
  color: $desaturated-dark-blue;

  width: 40px;
  height: 40px;
  padding: 0px 20px;
  background-color: rgba(108, 167, 249, 0.1);
  
  :hover, :active, :focus, :focus-within{
      background-color: $desaturated-dark-blue;
      color: $light-grayish-blue;
  }
}

.socials{
  @extend %d-flex;
  @extend %justify-center;
  @extend %align-center;
  gap: 20px;

  a{  
    transition: 0.15s ease-in ;
  }

  &>a:hover{
    filter: brightness(90%);
    transform: scale(105%);
  }
}

.attribution { 
  margin: 50px 0;
  font-size: 11px; 
  text-align: center;

  a { 
    opacity: 0.65;
    text-decoration: none;
    font-weight: 500;
    color: $desaturated-dark-blue; 
    
    &:hover, &:active{
      opacity: 1;
      text-decoration: underline;
      color: $vdark-grayish-blue;
      @extend %fw-700;  
    }
  }

}

.d-none{
  display: none;
}

.author-mob-active{
  background: $vdark-grayish-blue;
}