@import '_media.scss';

// Global Styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  @extend %d-flex;
  @extend %col;
  @extend %align-center;
  @extend %justify-center;
  min-height: 100vh;
  font-family: Manrope;
  background-color: $grayish-blue;
}

button{
  border: none;
}