@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
@import url("");
.socials, div :has(svg.share-btn), .profile, .author, .info, main.card > section, main.card, body {
  display: flex;
}

div :has(svg.share-btn), .info, main.card > section, main.card, body {
  flex-direction: column;
}

.socials, div :has(svg.share-btn), .author, main.card, body {
  align-items: center;
}

.socials, div :has(svg.share-btn), main.card, body {
  justify-content: center;
}

div :has(svg.share-btn), .profile img {
  border-radius: 50%;
}

.profile div span, .info strong + p {
  font-weight: 400;
}

.profile div p, .info strong {
  font-weight: 700;
}

main.card {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: Manrope;
}

button {
  border: none;
}

.d-none {
  display: none;
}

main.card {
  border-radius: 10px;
  max-width: 310px;
}
@media only screen and (min-width: 720px) {
  main.card {
    flex-direction: row;
    width: 80vw;
    max-width: 720px;
    max-height: 250px;
  }
}
main.card > div {
  max-height: 200px;
  overflow: hidden;
}
@media only screen and (min-width: 720px) {
  main.card > div {
    width: 100%;
    max-height: 240px;
  }
}
main.card > section {
  align-content: flex-start;
  flex-wrap: wrap;
  max-width: 310px;
}
@media only screen and (min-width: 720px) {
  main.card > section {
    max-width: unset;
  }
}
main.card > div > img {
  display: block;
  border-radius: 10px 10px 0 0;
  width: 100%;
  object-fit: cover;
}
@media only screen and (min-width: 720px) {
  main.card > div > img {
    border-radius: 10px 0 0 10px;
  }
}
@media only screen and (min-width: 720px) {
  main.card > div > img {
    width: clamp(300px, 200%, 375px);
  }
}
@media only screen and (min-width: 900px) {
  main.card > div > img {
    width: clamp(300px, 140%, 480px);
  }
}

.info {
  gap: 20px;
  margin: 1.625rem;
  height: fit-content;
}

.author {
  justify-content: space-between;
  margin: 0 1.625rem 13px;
  height: auto;
}
@media only screen and (max-width: 720px) {
  .author {
    padding: 0 26px 13px;
    margin: 0;
    background: hsl(217, 19%, 35%);
    border-radius: 0 0 10px 10px;
  }
}

@media only screen and (min-width: 720px) {
  .author-active {
    position: relative;
  }
  .author-active .socials {
    padding: 13px 26px;
    margin: 0;
    border-radius: 12px;
    background: hsl(217, 19%, 35%);
    position: absolute;
    right: -75px;
    top: -51px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  }
  .author-active .socials::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 16px solid hsl(217, 19%, 35%);
    border-right: 16px solid hsl(217, 19%, 35%);
    border-top: 36px solid hsl(217, 19%, 35%);
    transform: rotate(45deg);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    z-index: -2;
    top: 14px;
    margin-left: 5px;
  }
  .author-active .socials-btn {
    position: absolute;
    right: 23px;
    top: 5px;
  }
}

.profile {
  gap: 10px;
  flex: 2;
  text-align: left;
}
@media only screen and (min-width: 720px) {
  .profile {
    flex: 1;
  }
}
.profile img {
  width: 46px;
}
.profile div {
  margin: auto 0;
}

div :has(svg.share-btn) {
  cursor: pointer;
  color: hsl(214, 17%, 51%);
  width: 40px;
  height: 40px;
  padding: 0px 20px;
  background-color: rgba(108, 167, 249, 0.1);
}
div :has(svg.share-btn) :hover, div :has(svg.share-btn) :active, div :has(svg.share-btn) :focus, div :has(svg.share-btn) :focus-within {
  background-color: hsl(214, 17%, 51%);
  color: hsl(210, 46%, 95%);
}

.socials {
  gap: 20px;
}

.info strong {
  color: hsl(217, 19%, 35%);
  font-size: 16px;
}
.info strong + p {
  color: hsl(214, 17%, 51%);
  font-size: 13px;
  word-spacing: 3px;
  line-height: 1.35;
}

.profile div {
  font-size: 12px;
}
.profile div p {
  color: hsl(217, 19%, 35%);
}
.profile div span {
  color: hsl(212, 23%, 69%);
}

.socials {
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: hsl(210, 46%, 95%);
  font-size: 13px;
  gap: 20px;
}

.attribution {
  margin: 50px 0;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}/*# sourceMappingURL=styles.css.map */